<nb-layout>

  <nb-layout-header fixed>
    <h1>Image offline storage</h1>
  </nb-layout-header>

  <nb-layout-column [nbSpinner]="isLoading">
    <input type="file" nbInput placeholder="File URI" fullWidth shape="semi-round" accept="image/jpeg, image/png, image/heif, image/heic, image/heif-sequence, image/heic-sequence" [(ngModel)]="image">
    <button (click)="getImageFromCache()">Get image from cache</button>

    <nb-accordion *ngIf="formatLoaded">
      <nb-accordion-item *ngFor="let format of imageFormat">
        <nb-accordion-item-header>
          {{ format.size }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <img [src]="format.data" [width]="format.width" [height]="format.height">
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>This is designed as a proof of concept to test different cases for offline image storage.</p>
  </nb-layout-footer>

</nb-layout>
